build*/
TAGS
*.swp
cscope.*
.DS_Store
third_party/
packages-microsoft-prod.deb
test/CMakeCache.txt
test/CMakeFiles/
test/CPackConfig.cmake
test/CPackSourceConfig.cmake
test/Makefile
test/SPIRV-Tools-diffConfig.cmake
test/SPIRV-Tools-linkConfig.cmake
test/SPIRV-Tools-lintConfig.cmake
test/SPIRV-Tools-optConfig.cmake
test/SPIRV-Tools-reduceConfig.cmake
test/SPIRV-Tools-toolsConfig.cmake
test/SPIRV-ToolsConfig.cmake
test/bin/
test/cmake/
test/cmake_install.cmake
test/compile_commands.json
test/include/
test/lib/
test/test/
test/tools/
